*{
	margin: 0;
	padding: 0;

}

script{
	z-index: 100;
}

html, body{
	height: 100%;
	width: 100%;
	background-color: #000;
}

.page-wrapper{
	min-height: 100%;
}

@font-face{
	font-family: 'OSF';
	src: url(../assets/fonts/OuterspaceMilitia.ttf);
	font-style: normal;
	font-weight: 100;

}

 @font-face{
	font-family: 'CUR';
	src: url(../assets/fonts/AllertaStencil-Regular.ttf);
	font-style: normal;
	font-weight: 100;
} 
@keyframes textanim{
from{
	opacity: 0;
}
to{
	opacity: 0.7;
}
}

@keyframes colorChange {
	0%,

	100% {
	  opacity: 0;
	}

	50% {
		opacity: .9;
	  }
	

}



/* SECTION-1 */

.first-section {
	position: relative;
	height: 100vh;
	min-width: 100%;
	display: flex;

	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 100px;

}

/* video{
	max-width: 1500px;
	max-height: 1500px;
} */

.video-container {
	position: absolute;
	background-size: cover;
	align-content: center;
	width: 1800px;
	height: 800px;
	overflow: hidden;
	position: fixed;

	
	
}



.content-1 h1 {
	font-family: OSF;
	font-weight: 600;
	font-size: 5vw;
	color: cornsilk;
	line-height: 1.5;
	word-spacing: -0.5em;
    text-align: center;
	margin-bottom: 10vh;
	opacity: 0.7;
	animation: textanim 8s 1;
	
}

.content-1 {
	
	z-index: 2;
}



/* SECTION-2 */

.second-section{
	background-color: #000;
	background: linear-gradient(to bottom,#000000 ,#5788fe );
	background-size: cover;
	background-attachment: fixed;
	height: 90vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 500px;
	position: relative;
	z-index: 2;
}

.second-section .filter{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background:  #fe5757;
		animation: colorChange 30s ease-in-out infinite;
		animation-fill-mode: both;
		mix-blend-mode: overlay;
}


.content{
	opacity: 1;
	color: #fff;
}



.box {
	position: relative;
	cursor: pointer;
	top: 90px;
	width: 55vw;
	height: 50vh;
	
	box-sizing: border-box;
	
	overflow: hidden;
	background: rgba(28, 39, 38, 0.829);
	border-radius: 12px;
	
	
}


.box .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	
	background: linear-gradient(90deg, rgb(146, 179, 218),rgb(73, 226, 247),rgb(0, 225, 255));
	transition: 0.1s;
	font-size: 40px;
	
}


.box:hover .icon{
	top: 0.2em;
	left: 50%;
	transform: translate(-30px,10px);
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;

}



.box .icon .info{
	color: chartreuse;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80px;
	transition: 0.1s;
	border-radius: 50%;
}

.box:hover .icon .info{
	width: 40px;
}

.box .content{
	position: absolute;
	top: 100%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	transition: 0.1s;
}

.box:hover .content{
	top: 4em;
}

.button-wrapper{
position: absolute;
right: 1em;
bottom: 25em;
}

.button1{
	position: relative;
	display: flex;
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	color: #26db2f;
	/* overflow: hidden;  */
}

 .button1:hover{
	color: #255784;
	background: #26db2f;
	box-shadow: 0 0 10px #26db2f, 0 0 40px #26db2f, 0 0 80px #26db2f;
	transition: 0.1s;
	border-radius: 10px;

} 

/*BUTTON STYLING (N.I.)*/

 /*
  .button1  span{
	position: absolute;
	display: block;

}

.button1 span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px ;
	background: linear-gradient(90deg,transparent,#2196f3);
}

.button1:hover  span:nth-child(1){
	left: 100%;
	transition: 1s;
}

.button1 span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px ;
	background: linear-gradient(270deg,transparent,#2196f3);
}

.button1:hover  span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.button1 span:nth-child(2){
	right: 0;
	top: -100%;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#2196f3);
}

.button1:hover  span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

.button1 span:nth-child(4){
	left: 0;
	bottom: -100%;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#2196f3);
}

.button1:hover  span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}  
*/


/* FOOTER */

.footer{
	background-color: #3D3B3B;
	position: relative;
	height: 44vh;
	width: 100%;
	
}

.footer .footer-contents{
	/* border: 1px solid red; */
	height: 38vh;
	position: relative;
	

}

/* CONTACT SECTION */

.footer-contact{
	width: 33.33%;
	height: 98%;
	/* border: 2px solid blue; */
	position: absolute;
}


.footer-contact  h2{
	margin-top: 40px;
	margin-left: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 2px;
	color: rgb(214, 214, 214);
	
	
}

.footer-contact hr{
	margin-top: 10px;
	margin-left: 20px;
	top: 30px;
	width: 70%;
}	

.footer-contact p{
	color: #fff;
	margin-top: 20px;
	margin-left: 20px;
}


/* QUICKLINKS SECTION */

.footer-quicklinks{
	left: 33.33%;
	width: 33.33%;
	height: 98%;
	/* border: 2px  solid #26db2f; */
	position:  absolute;

}

.footer-quicklinks h2{
	margin-top: 40px;
	margin-left: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(214, 214, 214);

}

.footer-quicklinks hr{
	margin-top: 10px;
	margin-left: 20px;
	top: 30px;
	width: 70%;
}

.footer-quicklinks p{
	margin-top: 20px;
	margin-left: 20px;
}

.footer-quicklinks a{
	color: #fff;
	text-decoration: none;
}

/* SOCIAL  MEDIA SECTION */

.footer-connect{
	left: 66.8%;
	width: 33%;
	height: 99%;
	/* border: 2px  solid #26db2f; */
	position: absolute;

}

.footer-connect h2{
	margin-top: 40px;
	margin-left: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(214, 214, 214);
}

.footer-connect hr{
	margin-top: 10px;
	margin-left: 20px;
	top: 30px;
	width: 70%;
}

.footer-connect .social{
	left: 150px;
	top: 120px;
	position: absolute;
	transform: translate(-50%,-50%);
	display: flex;
}

.footer-connect .social li{
	list-style: none;
	margin: 0 15px;
}

.footer-connect .social .fa{
	font-size: 25px;
	line-height: 40px;
	transition: 0.1s;
	color: #fff;

}

.footer-connect .social li a{
	position: relative;
	display: block;
	background-color: rgb(58, 58, 58);
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 5px 4px  rgba(0,0,0,0.5);
}

.footer-connect .social .github a:hover {
	transform: translate(0,-5px);
	background-color: rgb(0, 0, 0);

}

.footer-connect .social .twitter a:hover {
	transform: translate(0,-5px);
	background-color: rgb(0, 140, 255);
}

.footer-connect .social .linkedin a:hover {
	transform: translate(0,-5px);
	background-color: rgb(49, 102, 216);
}

.footer-connect .social .youtube a:hover {
	transform: translate(0,-5px);
	background-color: rgb(211, 64, 19);
}

.footer-connect .social a:hover .fa{
	color: #fff;
} 



/* BOTTOM FOOTER */

.footer-bottom{
	position: absolute;
	padding: 10px 0px 10px 0px;
	bottom: 0px;
	width: 100%;
	color: #fff;
	background: rgb(32, 30, 30);
	text-align: center;
}

