*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: 'OuterspaceMilitia';
	src: url(../assets/fonts/OuterspaceMilitia.ttf);
	font-style: normal;
	font-weight: 100;
}

@keyframes textanim{
from{
	opacity: 0;
}
to{
	opacity: 0.7;
}

}

/* SECTION-1 */

.first-section {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 100px;

}



.video-container {
	position: absolute;
    transform-style: preserve-3d;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	background: #000;
	
	
}

h1 {
	font-family: OuterspaceMilitia;
	font-weight: 600;
	font-size: 10vh;
	color: cornsilk;
	line-height: 1.5;
	word-spacing: -0.5em;
    text-align: center;
	margin-bottom: 10vh;
	opacity: 0.7;
	animation: textanim 8s 1;
	
}

.content-1 {
	z-index: 2;
}

.content-1 header h1 {
	font-size: 5vw;
}

/* SECTION-2 */

.second-section{
	background-image: url(../assets/images/banner1.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 90vh;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 500px;
	position: relative;
	z-index: 2;
}


.content{
	opacity: 1;
	color: #fff;
}



.box {
	position: relative;
	cursor: pointer;
	top: 90px;
	width: 55vw;
	height: 50vh;
	
	box-sizing: border-box;
	
	overflow: hidden;
	background: rgba(28, 39, 38, 0.829);
	border-radius: 12px;
	
	
}


.box .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	
	background: linear-gradient(90deg, rgb(146, 179, 218),rgb(73, 226, 247),rgb(0, 225, 255));
	transition: 0.1s;
	font-size: 40px;
	
}


.box:hover .icon{
	top: 0.2em;
	left: 50%;
	transform: translateX(-50%);
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;

}



.box .icon .info{
	color: chartreuse;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80px;
	transition: 0.1s;
	border-radius: 50%;
}

.box:hover .icon .info{
	width: 40px;
}

.box .content{
	position: absolute;
	top: 100%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	transition: 0.1s;
}

.box:hover .content{
	top: 4em;
}

.button-wrapper{
position: absolute;
right: 1em;
bottom: 25em;
}

.button1{
	position: relative;
	display: flex;
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	color: #26db2f;
	/* overflow: hidden;  */
}

 .button1:hover{
	color: #255784;
	background: #26db2f;
	box-shadow: 0 0 10px #26db2f, 0 0 40px #26db2f, 0 0 80px #26db2f;
	transition: 0.1s;
	border-radius: 10px;

} 

 /* .button1  span{
	position: absolute;
	display: block;

}

.button1 span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px ;
	background: linear-gradient(90deg,transparent,#2196f3);
}

.button1:hover  span:nth-child(1){
	left: 100%;
	transition: 1s;
}

.button1 span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px ;
	background: linear-gradient(270deg,transparent,#2196f3);
}

.button1:hover  span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.button1 span:nth-child(2){
	right: 0;
	top: -100%;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#2196f3);
}

.button1:hover  span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

.button1 span:nth-child(4){
	left: 0;
	bottom: -100%;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#2196f3);
}

.button1:hover  span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}  */

/* FOOTER */

.footer{
	background-color: #3D3B3B;
	position: relative;
	height: 50vh;
	
}

.footer .footer-contents{
	border: 1px solid red;
	height: 44vh;
	position: relative;
	

}

.footer .footer-contents .footer-about{
	position: relative;
	width: 50%;
	height: 98%;
	border: 2px solid blue;
	text-align: center;
}

.footer  .footer-bottom{
	position: absolute;
	padding: 10px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #fff;
	background: rgb(32, 30, 30);
	text-align: center;
}

